{% extends 'base.html' %}

{% block head %}
<h1>Task Master</h1>
{% endblock %}

{% block body %}
<div class="content">
    
    <form action="/login" method="post"> 
        {% if session['user'] %}
        <h4>Welcome {{ session['user'] }}! </h4>
        {% else %}
                <h1>Welcome! Please login <a href="{{ url_for('login') }}">here.</a></h1>
        {% endif %}
    </form>
    <a href="{{ url_for('insert') }}">Create tasks here</a>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="{{ url_for('logout') }}">logout</a>
</div>
{% endblock %}