{% extends 'base.html' %}

{% block head %}
<h1>Task Master</h1>
{% endblock %}

{% block body %}
<div class="content">
    {% for mess in get_flashed_messages()  %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ mess }}
        </div>
      {% endfor %}
    <form action="/login" method="post"> 
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    <a href="{{ url_for('register')}}">Don't have login? Register here</a>
</div>
{% endblock %}